In [1]:
5+5

10

In [2]:
print("Hello, World!")

Hello, World!

In [4]:
variable_Carro= 10
variable_Carro2= 20

print(variable_Carro + variable_Carro2)

30

In [5]:
num1 = int(input("Ingresa el primer número: "))
num2 = int(input("Ingresa el segundo número: "))

if num1 > num2:
    print("El número mayor es:", num1)
elif num2 > num1:
    print("El número mayor es:", num2)
else:
    print("Ambos números son iguales")

El número mayor es: 20

Variables en listas

In [5]:
vendedores = ['Ana', 'Luis', 'Marta', 'Sergio']
len(vendedores)

4

In [11]:
vendedores = ['Ana', 'Luis', 'Marta', 'Sergio']
Ventas = [1500.50, 2300.75, 1800.00, 2100.25]
print("Ventas por vendedor:")
for i in range(len(vendedores)):
    print(f"{vendedores[i]}: ${Ventas[i]:,.2f}")

Ventas por vendedor:
Ana: $1,500.50
Luis: $2,300.75
Marta: $1,800.00
Sergio: $2,100.25

In [8]:
vendedores = ['Ana', 'Luis', 'Marta', 'Sergio']
ventas = [1500.50, 2300.75, 1800.00, 2200.25]
Resumen = list(zip(vendedores, ventas))
for vendedor, venta in Resumen:
    print(f'{vendedor}: ${venta:,.2f}')

Ana: $1,500.50
Luis: $2,300.75
Marta: $1,800.00
Sergio: $2,200.25

In [10]:
import pandas as pd
vendedores = ["Ana", "Luis", "Marta", "Sergio"]
ventas = [1500.50, 2300.75, 1800.00, 2100.25]
df = pd.DataFrame({
    "Vendedor": vendedores,
    "Ventas": ventas
})
print(df)

  Vendedor   Ventas
0      Ana  1500.50
1     Luis  2300.75
2    Marta  1800.00
3   Sergio  2100.25

In [ ]:

vendedores = ['Ana', 'Luis', 'Marta', 'Sergio']
Ventas = [1500.50, 2300.75, 1800.00, 2100.25]

#vendedores.append('Camila')



#meses = []
ventas = []


cantidad_meses = int(input('Ingrese el número de meses a registrar: '))

for i in range(cantidad_meses):
    
    mes = input('Ingrese el nombre del mes: ')
    venta = float(input(f'Ingrese el total de ventas en {mes}: '))

    # Guardar los datos
    meses.append(mes)
    ventas.append(venta)


n = len(meses)

print('\nRegistro de Ventas Mensuales:')
for i in range(n):
    print(f'{meses[i]}: ${ventas[i]:,.1f}')

Registro de Ventas Mensuales:
Febrero: $100.1

venta_total = sum(ventas)

venta_mayor = max(ventas)
pos_venta_may = ventas.index(venta_mayor)
mes_venta_may = meses[pos_venta_may]

venta_menor = min(ventas)
pos_venta_men = ventas.index(venta_menor)
mes_venta_men = meses[pos_venta_men]

# === Visualización de Resultados ===
n = len(meses)

print('\nRegistro de Ventas Mensuales:')
for i in range(n):
    print(f'{meses[i]}: ${ventas[i]:,.2f}')

print(f'''
Ventas Totales durante {n} meses: ${venta_total:,.2f}
Mes con Mayor Venta: {mes_venta_may.capitalize()} (${venta_mayor:,.2f})
Mes con Menor Venta: {mes_venta_men.capitalize()} (${venta_menor:,.2f})
''')

Ejercicios para reforzar

Bases de datos

In [4]:

import pandas as dp
url = "https://github.com/Twoeme/Prueba2/raw/refs/heads/main/Protein_Supply_Quantity_Data.csv"
df = dp.read_csv(url)

df.head(10)

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetables,Miscellaneous,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,9.7523,0.0277,0.0000,35.9771,0.4067,0.0647,0.5824,3.1337,...,1.1370,0.0462,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.1840,27.7469,0.0711,0.0000,14.2331,1.8069,0.6274,1.2757,7.6582,...,3.2456,0.0544,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0323,13.8360,0.0054,0.0000,26.5633,1.2916,0.6350,1.1624,3.5088,...,3.1267,0.1399,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.6285,15.2311,0.0277,0.0000,20.3882,0.1756,5.4436,1.2754,7.6248,...,0.8133,0.0924,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.1535,33.1901,0.1289,0.0000,10.5108,0.4850,8.2146,1.2586,16.0670,...,1.6024,0.2947,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%
5,Argentina,0.1704,31.9799,0.0097,0.0000,13.6702,2.0593,1.0223,0.5209,21.6250,...,1.0516,0.0000,28.5,4.6,4.356147,0.108227,3.905192,0.342729,45377000.0,%
6,Armenia,0.0411,22.8846,0.1438,0.0000,18.2738,1.7560,0.8831,1.1142,8.5233,...,4.6621,0.1078,20.9,4.3,5.681225,0.105345,5.398410,0.177470,2956000.0,%
7,Australia,0.2914,32.9787,0.0740,0.0046,10.9343,1.0916,2.8585,0.5180,18.8298,...,1.4524,0.2174,30.4,<2.5,0.112025,0.003530,0.101289,0.007207,25754000.0,%
8,Austria,0.6150,30.0009,0.3376,0.0000,13.1508,2.1456,1.8358,0.6242,13.6549,...,1.5259,0.0000,21.9,<2.5,4.739982,0.089679,4.496870,0.153433,8914000.0,%
9,Azerbaijan,0.3465,16.3039,0.0596,0.0000,28.2218,1.4078,0.4873,0.5631,6.8551,...,1.9114,0.0433,19.9,<2.5,2.285536,0.031223,2.225574,0.028740,10108000.0,%