# Ejercicios de pandas
Notebook con ejemplos prácticos para cada punto.

## 1. Introducción a pandas

In [3]:
import pandas as pd
import numpy as np
pd.__version__

'2.3.3'

## 2. Series y DataFrames

In [4]:
s = pd.Series([10, 20, 30, 10], index=['a','b','c', 'd'])

#print(s.head(1))

#print(s.tail(1))
#print(s.shape)
#print(s.index)
#print(s.info)
#print(s.describe())
print(s)

a    10
b    20
c    30
d    10
dtype: int64

In [5]:
df = pd.DataFrame({'pais':['MX','AR','MX'], 'ventas':[100,200,150]})

print(df.head(1))
print(df.tail(1))
print(df.shape)
print(df.index)
print(df.info)
print(df.describe())
print(df.dtypes)

  pais  ventas
0   MX     100
  pais  ventas
2   MX     150
(3, 2)
RangeIndex(start=0, stop=3, step=1)
<bound method DataFrame.info of   pais  ventas
0   MX     100
1   AR     200
2   MX     150>
       ventas
count     3.0
mean    150.0
std      50.0
min     100.0
25%     125.0
50%     150.0
75%     175.0
max     200.0
pais      object
ventas     int64
dtype: object

## 3. Importación y limpieza

In [6]:
url="https://github.com/Twoeme/Prueba2/raw/refs/heads/main/Pandas_Class/layoffs.csv"
df = pd.read_csv(url)
#df = pd.read_excel(url)#sep=";"
print(df)

                         company        location  total_laid_off        date  \
0                         Sonder     SF Bay Area             NaN  11/10/2025
1                        Axonius   New York City           100.0   11/6/2025
2                        MyBambu         Memphis           141.0   11/5/2025
3     Hewlett Packard Enterprise     SF Bay Area            52.0   11/5/2025
4                         Indeed          Austin             NaN   11/5/2025
...                          ...             ...             ...         ...
4197                     Service     Los Angeles             NaN   3/16/2020
4198                HopSkipDrive     Los Angeles             8.0   3/13/2020
4199                 Panda Squad     SF Bay Area             6.0   3/13/2020
4200               Tamara Mellon     Los Angeles            20.0   3/12/2020
4201                    EasyPost  Salt Lake City            75.0   3/11/2020

      percentage_laid_off        industry  \
0                    1.00          Travel
1                    0.11        Security
2                    1.00         Finance
3                     NaN        Hardware
4                     NaN              HR
...                   ...             ...
4197                 1.00          Travel
4198                 0.10  Transportation
4199                 0.75        Consumer
4200                 0.40          Retail
4201                  NaN       Logistics

                                                 source     stage  \
0     https://skift.com/2025/11/10/sonder-shuts-down...  Post-IPO
1     https://www.calcalistech.com/ctechnews/article...  Series E
2     https://cbs12.com/news/local/new-west-palm-bea...   Unknown
3     https://www.sfchronicle.com/tech/article/layof...  Post-IPO
4     https://www.businessinsider.com/indeed-layoffs...  Acquired
...                                                 ...       ...
4197  https://techcrunch.com/2020/03/16/travel-savin...      Seed
4198  https://layoffs.fyi/2020/04/02/hopskipdrive-la...   Unknown
4199  https://twitter.com/danielsinger/status/123854...      Seed
4200            https://layoffs.fyi/list/tamara-mellon/  Series C
4201  https://www.bizjournals.com/louisville/news/20...  Series A

      funds_raised        country  date_added
0            839.0  United States  11/10/2025
1            865.0  United States   11/7/2025
2             15.0  United States   11/7/2025
3           1400.0  United States   11/7/2025
4              5.0  United States   11/8/2025
...            ...            ...         ...
4197           5.1  United States   8/31/2020
4198          45.0  United States    4/3/2020
4199           1.0  United States   4/17/2020
4200          90.0  United States   3/31/2020
4201          12.0  United States   3/31/2020

[4202 rows x 11 columns]

#Limpieza de datos
•	Valores faltantes

•	Tipos incorrectos

•	Errores de formato

•	Nombres de columnas inconsistentes

In [7]:

print(df['country'].nunique())

#print(len(df['country'].unique()))
#print(df['country'].isna().sum())

66

In [8]:
df['date'].dtype

dtype('O')

In [9]:
df.isna().sum()

company                   0
location                  1
total_laid_off         1459
date                      0
percentage_laid_off    1543
industry                  2
source                    3
stage                     5
funds_raised            475
country                   2
date_added                0
dtype: int64

In [10]:
df['date']= pd.to_datetime(df['date'])
df['date'].dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4202 entries, 0 to 4201
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              4202 non-null   object
 1   location             4201 non-null   object
 2   total_laid_off       2743 non-null   float64
 3   date                 4202 non-null   datetime64[ns]
 4   percentage_laid_off  2659 non-null   float64
 5   industry             4200 non-null   object
 6   source               4199 non-null   object
 7   stage                4197 non-null   object
 8   funds_raised         3727 non-null   float64
 9   country              4200 non-null   object
 10  date_added           4202 non-null   object
dtypes: datetime64[ns](1), float64(3), object(7)
memory usage: 361.2+ KB

In [11]:
#df.info()

companias = df['company'].unique()
locations = df['location'].unique()
industries = df['industry'].unique()   
countries = df['country'].unique()
date= df['date'].unique()
#total_laidoff = df['total_laid_off'].sum()
#print(f'Total de despidos: {total_laidoff}')
#print(len(companias))

print(df['company'].nunique())
print(df['company'].unique())
print(df['country'].nunique())

2836
['Sonder' 'Axonius' 'MyBambu' ... 'Help.com' 'Panda Squad' 'Tamara Mellon']
66

In [12]:
df['country'].isna().sum()

np.int64(2)

In [13]:
print(len (locations))

267

In [14]:
df['industry'].isna().sum()

np.int64(2)

In [15]:


df.dropna(how='all')
#df.dropna(how='any')
media = df['total_laid_off'].mean()

df['total_laid_off'] = df['total_laid_off'].fillna(media)
df['industry'] = df['industry'].fillna("Unknown")
df['country'] = df['industry'].fillna("Unknown")     

#df.fillna(method="bfill", "ffill")
#Rellenar con un número
#Rellenar con la media de la columna
#Rellenar con el valor anterior (method="ffill")
#Rellenar con el siguiente (method="bfill")
df['total_laid_off'].isna().sum()

np.int64(0)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4202 entries, 0 to 4201
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              4202 non-null   object
 1   location             4201 non-null   object
 2   total_laid_off       4202 non-null   float64
 3   date                 4202 non-null   datetime64[ns]
 4   percentage_laid_off  2659 non-null   float64
 5   industry             4202 non-null   object
 6   source               4199 non-null   object
 7   stage                4197 non-null   object
 8   funds_raised         3727 non-null   float64
 9   country              4202 non-null   object
 10  date_added           4202 non-null   object
dtypes: datetime64[ns](1), float64(3), object(7)
memory usage: 361.2+ KB

In [17]:
df['stage'] = df['stage'].fillna("Unknown")
df['source'] = df['source'].fillna("Unknown")

In [18]:
media2 = df['percentage_laid_off'].mean()
df['percentage_laid_off'] = df['percentage_laid_off'].fillna(media2)
df['funds_raised'] = df['funds_raised'].fillna(0)
df['location'] = df['location'].fillna("Unknown")  

df.isna().sum()

company                0
location               0
total_laid_off         0
date                   0
percentage_laid_off    0
industry               0
source                 0
stage                  0
funds_raised           0
country                0
date_added             0
dtype: int64

In [19]:
df.duplicated().sum()

np.int64(0)

In [20]:
df.duplicated()
df.drop_duplicates()
#subset=["col1","col2"] → considerar duplicadas solo esas columnas
#keep="first" o keep="last"

,company,location,total_laid_off,date,percentage_laid_off,industry,source,stage,funds_raised,country,date_added
0,Sonder,SF Bay Area,287.806781,2025-11-10,1.000000,Travel,https://skift.com/2025/11/10/sonder-shuts-down...,Post-IPO,839.0,Travel,11/10/2025
1,Axonius,New York City,100.000000,2025-11-06,0.110000,Security,https://www.calcalistech.com/ctechnews/article...,Series E,865.0,Security,11/7/2025
2,MyBambu,Memphis,141.000000,2025-11-05,1.000000,Finance,https://cbs12.com/news/local/new-west-palm-bea...,Unknown,15.0,Finance,11/7/2025
3,Hewlett Packard Enterprise,SF Bay Area,52.000000,2025-11-05,0.294064,Hardware,https://www.sfchronicle.com/tech/article/layof...,Post-IPO,1400.0,Hardware,11/7/2025
4,Indeed,Austin,287.806781,2025-11-05,0.294064,HR,https://www.businessinsider.com/indeed-layoffs...,Acquired,5.0,HR,11/8/2025
...,...,...,...,...,...,...,...,...,...,...,...
4197,Service,Los Angeles,287.806781,2020-03-16,1.000000,Travel,https://techcrunch.com/2020/03/16/travel-savin...,Seed,5.1,Travel,8/31/2020
4198,HopSkipDrive,Los Angeles,8.000000,2020-03-13,0.100000,Transportation,https://layoffs.fyi/2020/04/02/hopskipdrive-la...,Unknown,45.0,Transportation,4/3/2020
4199,Panda Squad,SF Bay Area,6.000000,2020-03-13,0.750000,Consumer,https://twitter.com/danielsinger/status/123854...,Seed,1.0,Consumer,4/17/2020
4200,Tamara Mellon,Los Angeles,20.000000,2020-03-12,0.400000,Retail,https://layoffs.fyi/list/tamara-mellon/,Series C,90.0,Retail,3/31/2020
4201,EasyPost,Salt Lake City,75.000000,2020-03-11,0.294064,Logistics,https://www.bizjournals.com/louisville/news/20...,Series A,12.0,Logistics,3/31/2020

In [78]:
df= df.rename(columns={"company":"compania","location":"ubicacion","date":"fecha","percentage_laid_off":"porcentaje_despidos"})
df.rename(columns={"industry":"industria","source":"fuente","stage":"etapa","funds_raised":"fondos_recaudados","country":"sector_economico","date_added":"fecha_agregado"}, inplace=True)
df=df.rename(columns={"total_laid_off":"total_despidos"})
df.info()
 #5   industry             4202 non-null   object        
 #6   source               4199 non-null   object        
 #7   stage                4197 non-null   object        
 #8   funds_raised         3727 non-null   float64       
 #9   country              4202 non-null   object        
 #10  date_added

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4202 entries, 0 to 4201
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   compania             4202 non-null   object
 1   ubicacion            4202 non-null   object
 2   total_despidos       4202 non-null   float64
 3   fecha                4202 non-null   datetime64[ns]
 4   porcentaje_despidos  4202 non-null   float64
 5   industria            4202 non-null   object
 6   fuente               4202 non-null   object
 7   etapa                4202 non-null   category
 8   fondos_recaudados    4202 non-null   float64
 9   sector_economico     4202 non-null   object
 10  fecha_agregado       4202 non-null   object
dtypes: category(1), datetime64[ns](1), float64(3), object(6)
memory usage: 333.2+ KB

In [22]:
df['etapa'].unique()

array(['Post-IPO', 'Series E', 'Unknown', 'Acquired', 'Series F',
       'Series D', 'Series C', 'Series B', 'Series A', 'Private Equity',
       'Seed', 'Subsidiary', 'Series G', 'Series J', 'Series I',
       'Series H'], dtype=object)

In [23]:
#df=df.rename(columns={"pais":"sector_economico"},inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4202 entries, 0 to 4201
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   compania             4202 non-null   object
 1   ubicacion            4202 non-null   object
 2   total_laid_off       4202 non-null   float64
 3   fecha                4202 non-null   datetime64[ns]
 4   porcentaje_despidos  4202 non-null   float64
 5   industria            4202 non-null   object
 6   fuente               4202 non-null   object
 7   etapa                4202 non-null   object
 8   fondos_recaudados    4202 non-null   float64
 9   sector_economico     4202 non-null   object
 10  fecha_agregado       4202 non-null   object
dtypes: datetime64[ns](1), float64(3), object(7)
memory usage: 361.2+ KB

In [25]:
df.columns = df.columns.str.lower()

In [26]:
df['ubicacion'] = df['ubicacion'].str.replace(" ", "_")

In [27]:
df.columns = df.columns.str.replace(" ", "_")

In [28]:
#df["col"] = df["col"].astype(int)
#df["fecha"] = pd.to_datetime(df["fecha"])

In [29]:
df["etapa"] = df["etapa"].astype("category") #No es buena practica
df['etapa'].dtypes

CategoricalDtype(categories=['Acquired', 'Post-IPO', 'Private Equity', 'Seed', 'Series A',
                  'Series B', 'Series C', 'Series D', 'Series E', 'Series F',
                  'Series G', 'Series H', 'Series I', 'Series J', 'Subsidiary',
                  'Unknown'],
, ordered=False, categories_dtype=object)

# Flujo típico de limpieza
1.	Cargar archivo (CSV, Excel, JSON).

2.	Explorar estructura con .head(), .info(), .describe().

3.	Renombrar columnas.

4.	Tratar valores nulos.

5.	Eliminar duplicados.

6.	Arreglar tipos de datos.

7.	Verificar resultados.

## 4. Selección y filtrado

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4202 entries, 0 to 4201
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   compania             4202 non-null   object
 1   ubicacion            4202 non-null   object
 2   total_laid_off       4202 non-null   float64
 3   fecha                4202 non-null   datetime64[ns]
 4   porcentaje_despidos  4202 non-null   float64
 5   industria            4202 non-null   object
 6   fuente               4202 non-null   object
 7   etapa                4202 non-null   category
 8   fondos_recaudados    4202 non-null   float64
 9   sector_economico     4202 non-null   object
 10  fecha_agregado       4202 non-null   object
dtypes: category(1), datetime64[ns](1), float64(3), object(6)
memory usage: 333.2+ KB

In [31]:
companias_NY = df.loc[df['ubicacion'] == 'New_York_City',['compania', 'etapa', 'sector_economico','fondos_recaudados']]
companias_NY.reset_index(drop=True, inplace=True)
#print(companias_NY.sort_values(by='fondos_recaudados', ascending=False).head(10))
#print(companias_NY.head(10) )
companias_NY.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   compania           422 non-null    object
 1   etapa              422 non-null    category
 2   sector_economico   422 non-null    object
 3   fondos_recaudados  422 non-null    float64
dtypes: category(1), float64(1), object(2)
memory usage: 11.1+ KB

In [36]:
revisar_pais = df.loc[df['ubicacion'] == 'Unknown',['compania', 'etapa', 'sector_economico','fondos_recaudados']]
print(revisar_pais)

          compania     etapa sector_economico  fondos_recaudados
1092  Product Hunt  Acquired         Consumer                0.0

In [ ]:
df[['compania', 'ubicacion']]
#df.loc[:, ["compania","pais"]]

                        compania       ubicacion
0                         Sonder     SF_Bay_Area
1                        Axonius   New_York_City
2                        MyBambu         Memphis
3     Hewlett Packard Enterprise     SF_Bay_Area
4                         Indeed          Austin
...                          ...             ...
4197                     Service     Los_Angeles
4198                HopSkipDrive     Los_Angeles
4199                 Panda Squad     SF_Bay_Area
4200               Tamara Mellon     Los_Angeles
4201                    EasyPost  Salt_Lake_City

[4202 rows x 2 columns]

In [ ]:
df.iloc[[2,4], 2:5]
#df.iloc[[12, 13, 17], 0:3]

   total_laid_off      fecha  porcentaje_despidos
2      141.000000 2025-11-05             1.000000
4      287.806781 2025-11-05             0.294064

In [66]:
#df[df['fecha'] > '2024-01-01']
#df[(df['fecha'] > '01/01/2024') & (df['ubicacion'] == 'SF_Bay_Area')]
df[(df['fecha'] > '2024-01-01') | (df['ubicacion'] == 'SF_Bay_Area')]

,compania,ubicacion,total_laid_off,fecha,porcentaje_despidos,industria,fuente,etapa,fondos_recaudados,sector_economico,fecha_agregado
0,Sonder,SF_Bay_Area,287.806781,2025-11-10,1.000000,Travel,https://skift.com/2025/11/10/sonder-shuts-down...,Post-IPO,839.0,Travel,11/10/2025
1,Axonius,New_York_City,100.000000,2025-11-06,0.110000,Security,https://www.calcalistech.com/ctechnews/article...,Series E,865.0,Security,11/7/2025
2,MyBambu,Memphis,141.000000,2025-11-05,1.000000,Finance,https://cbs12.com/news/local/new-west-palm-bea...,Unknown,15.0,Finance,11/7/2025
3,Hewlett Packard Enterprise,SF_Bay_Area,52.000000,2025-11-05,0.294064,Hardware,https://www.sfchronicle.com/tech/article/layof...,Post-IPO,1400.0,Hardware,11/7/2025
4,Indeed,Austin,287.806781,2025-11-05,0.294064,HR,https://www.businessinsider.com/indeed-layoffs...,Acquired,5.0,HR,11/8/2025
...,...,...,...,...,...,...,...,...,...,...,...
4176,Triplebyte,SF_Bay_Area,15.000000,2020-03-23,0.170000,Recruiting,https://layoffs.fyi/2020/03/26/triplebyte-lays...,Series B,48.0,Recruiting,3/28/2020
4177,Ladder Life,SF_Bay_Area,13.000000,2020-03-23,0.250000,Finance,LinkedIn,Series C,94.0,Finance,4/7/2020
4178,Cabin,SF_Bay_Area,287.806781,2020-03-23,0.200000,Travel,https://www.theinformation.com/articles/layoff...,Seed,3.0,Travel,3/28/2020
4188,Ejento,SF_Bay_Area,84.000000,2020-03-19,1.000000,Recruiting,https://layoffs.fyi/list/ejento/,Unknown,0.0,Recruiting,3/28/2020
4199,Panda Squad,SF_Bay_Area,6.000000,2020-03-13,0.750000,Consumer,https://twitter.com/danielsinger/status/123854...,Seed,1.0,Consumer,4/17/2020

In [ ]:
df[df['ubicacion'] == 'New York City']

,compania,ubicacion,total_laid_off,fecha,porcentaje_despidos,industria,fuente,etapa,fondos_recaudados,pais,fecha_agregado
1,Axonius,New York City,100.000000,2025-11-06,0.11,Security,https://www.calcalistech.com/ctechnews/article...,Series E,865.0,Security,11/7/2025
19,Tia,New York City,287.806781,2025-10-17,0.23,Healthcare,https://www.businessinsider.com/womens-health-...,Series B,133.0,Healthcare,10/25/2025
38,Scope3,New York City,287.806781,2025-09-05,NaN,Energy,https://www.adweek.com/media/scope3-lays-off-s...,Series B,45.0,Energy,9/8/2025
48,Vimeo,New York City,287.806781,2025-09-03,0.10,Consumer,https://www.linkedin.com/posts/phmoyer_today-w...,Post-IPO,450.0,Consumer,9/8/2025
72,Kaltura,New York City,70.000000,2025-08-07,0.10,Media,https://www.calcalistech.com/ctechnews/article...,Post-IPO,166.0,Media,8/10/2025
...,...,...,...,...,...,...,...,...,...,...,...
4170,Compass,New York City,375.000000,2020-03-23,0.15,Real Estate,https://layoffs.fyi/2020/04/14/compass-laid-of...,Series G,1600.0,Real Estate,3/28/2020
4171,Convene,New York City,150.000000,2020-03-23,0.18,Real Estate,https://layoffs.fyi/2020/04/08/convene-laid-of...,Series D,280.0,Real Estate,3/28/2020
4179,Eight Sleep,New York City,287.806781,2020-03-23,0.20,Retail,https://www.theinformation.com/articles/layoff...,Series C,70.0,Retail,3/28/2020
4181,Flywheel Sports,New York City,784.000000,2020-03-20,0.98,Fitness,https://stayfit305.com/solidcore-and-flywheel-...,Acquired,120.0,Fitness,4/9/2020
4192,Popin,New York City,287.806781,2020-03-19,1.00,Fitness,https://www.businessinsider.com/fitness-app-po...,Unknown,13.0,Fitness,4/6/2020

In [69]:
df['sector_economico'].unique()

array(['Travel', 'Security', 'Finance', 'Hardware', 'HR', 'Logistics',
       'Retail', 'Education', 'Consumer', 'Marketing', 'Legal',
       'Manufacturing', 'Transportation', 'Healthcare', 'Recruiting',
       'Other', 'Food', 'AI', 'Energy', 'Sales', 'Infrastructure',
       'Support', 'Media', 'Fitness', 'Unknown', 'Crypto', 'Real Estate',
       'Product', 'Data', 'Aerospace', 'Construction'], dtype=object)

In [76]:
ubicacion_fecha = df.query("ubicacion == 'Norwalk' and fecha > '2024-01-01'")
ciudad = 'Boston'
sector_economico= df.query("sector_economico == 'Travel' or ubicacion == @ciudad")
revision=df.query("sector_economico.isnull()")
print(revision)

Empty DataFrame
Columns: [compania, ubicacion, total_laid_off, fecha, porcentaje_despidos, industria, fuente, etapa, fondos_recaudados, sector_economico, fecha_agregado]
Index: []

## 5. Transformación de datos

In [80]:
#df.info()
df['despidos_por_fondo'] = df['total_despidos'] / (df['fondos_recaudados'] + 1)  # Añadimos 1 para evitar división por cero
print(df['despidos_por_fondo'])

0        0.342627
1        0.115473
2        8.812500
3        0.037116
4       47.967797
          ...
4197    47.181439
4198     0.173913
4199     3.000000
4200     0.219780
4201     5.769231
Name: despidos_por_fondo, Length: 4202, dtype: float64

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4202 entries, 0 to 4201
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   compania             4202 non-null   object
 1   ubicacion            4202 non-null   object
 2   total_despidos       4202 non-null   float64
 3   fecha                4202 non-null   datetime64[ns]
 4   porcentaje_despidos  4202 non-null   float64
 5   industria            4202 non-null   object
 6   fuente               4202 non-null   object
 7   etapa                4202 non-null   category
 8   fondos_recaudados    4202 non-null   float64
 9   sector_economico     4202 non-null   object
 10  fecha_agregado       4202 non-null   object
 11  prueba               4202 non-null   object
dtypes: category(1), datetime64[ns](1), float64(3), object(7)
memory usage: 366.0+ KB

In [ ]:

df_nde = df['total_laid_off'].astype(int)
print(df_nde)

0       287
1       100
2       141
3        52
4       287
       ...
4197    287
4198      8
4199      6
4200     20
4201     75
Name: total_laid_off, Length: 4202, dtype: int64

In [ ]:
das = pd.DataFrame({'A':[1,2,3], 'B':[10,20,30]})
das['C']=das['A']+das['B']
das

In [ ]:
df.apply(lmbda x:a x*2)

## 6. Agrupaciones y análisis

In [ ]:
df = pd.DataFrame({'pais':['MX','MX','AR'], 'ventas':[100,200,300]})
df.groupby('pais').sum()

In [ ]:
df.groupby('pais').agg({'ventas':['sum','mean']})

## 7. Unión y combinación

In [ ]:
df1 = pd.DataFrame({'id':[1,2], 'A':[10,20]})
df2 = pd.DataFrame({'id':[1,3], 'B':[100,300]})
pd.merge(df1, df2, on='id', how='outer')

## 8. Visualización básica (conceptual)

Los siguientes comandos funcionarían si matplotlib estuviera configurado:
```
df['A'].plot()
```

## 9. Optimización

In [ ]:
df = pd.DataFrame({'x':np.random.randint(0,100,size=1000)})
df.info()

In [ ]:
df['x'] = df['x'].astype('int32')
df.info()

## 10. Mini proyecto final

In [ ]:
df = pd.DataFrame({'pais':['MX','AR','MX','CL'], 'ventas':[100,200,150,300]})
df

In [ ]:
total_laidoff_per_company = df.groupby('company')['total_laid_off'].sum()
print(total_laidoff_per_company)